<div class="about-container">
    <div class="about-content">
      <h1 class="about-title">About Me</h1>
      <p class="about-description">
        Hello! I’m <strong>Aparna</strong>, a dynamic and results-oriented Senior Angular Developer with 7 years of experience in building responsive, user-friendly web applications. I specialize in crafting innovative solutions that deliver exceptional user experiences while meeting business objectives.
      </p>
      <p class="about-description">
        I thrive in collaborative environments where I can tackle complex challenges and leverage my expertise in cutting-edge technologies. With a strong background in front-end frameworks, I am committed to delivering scalable and impactful solutions.
      </p>
  
      <div class="skills-section">
        <h2 class="skills-title">Skills</h2>
        <ul class="skills-list">
          <li *ngFor="let skill of skills">{{ skill }}</li>
        </ul>
      </div>
      <div class="resume-section">
        <h3 class="resume-title">Download My Resume</h3>
        <p>Click the link below to download my resume in PDF format:</p>
        <a href="../../assets/resume.pdf" download="resume.pdf" class="resume-download-link">Download Resume</a>
      </div>
    </div>
  </div>
  