<div class="contact-container">
  <div class="contact-content">
    <h1 class="contact-title">Contact Me</h1>
    <p class="contact-description">
      Feel free to reach out to me for any inquiries or collaboration opportunities. Here are my contact details:
    </p>

    <div class="contact-details">
      <div class="contact-item">
        <h3>Email</h3>
        <p><a href="mailto:example@example.com">{{emailId}}</a></p>
      </div>

      <div class="contact-item">
        <h3>Phone</h3>
        <p><a href="tel:+1234567890">{{mobileNumber}}</a></p>
      </div>

      <div class="contact-item">
        <h3>Location</h3>
        <p>{{address}}</p>
      </div>

      <div class="contact-item">
        <h3>LinkedIn</h3>
        <p><a href="https://www.linkedin.com/in/aparna-s-pillai-77b442217" target="_blank">View my LinkedIn Profile</a></p>
      </div>
    </div>
  </div>
</div>
